@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    text-decoration: none;
}

body {
    background-image: url('./img/background.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

#video {
    display: none;
}

header {
    background-color: #f0f0f0;
    width: 100%;
    position: fixed;
    z-index: 999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 200px;
}

.logo {
    text-decoration: none;
    color: #3a6cf4;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.8em;
}

.navigation a {
    color: #3a6cf4;
    text-decoration: none;
    font-size: 1.4em;
    font-weight: 600;
    padding-left: 30px;
    cursor: pointer;
}

.navigation a:hover {
    color: #601cfc;
}

h1 {
    font-size: 50px;
    margin-left: 42%;
}

.container {
    cursor: pointer;
}

.containerFirst {
    /* background-color: blue; */
    width: 800px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin-left: 200px;
}

.containerFirst p {
    font-size: 26px;
    color: white;
}

#type {
    display: none;
}

.first {
    background-color: #242038;
    width: 300px;
    height: 300px;
    border-radius: 20px;
    transition: 0.9s;
    margin-top: 20px;
}

.first:hover {
    transform: scale(1.1);
    transition: 0.9s;
}